@import "tailwindcss";

@theme{
    --color-think-white:#F0EAF8;
    --color-think-blue:#CBB6E5;
    --color-think-purple:#000853;
    --color-think-blue-active: #761BE4;
    --color-think-error: #ED4545;
    --color-think-slider:#CBB6E5;
    --color-think-button-hover:#6A19CD;
    --color-think-gray:#898DA9;
}
